:root {
  --color-alice-blue: #f0f8ff;
  --color-opal: #9dbebb;
  --color-spring-bud: #9dff00;
  --color-kombu-green: #31493c;
  --color-rich-black: #001a23;
}
@font-face {
  font-family: carbon;
  src: url(./assets/carbontype-webfont.woff);
}
@font-face {
  font-family: action;
  src: url(./assets/Action_Man-webfont.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-alice-blue);
  background: var(--color-rich-black);
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

/* ================  FONTS  ======================= */
button,
.sidebar h1 {
  font-family: "carbon", sans-serif;
  color: var(--color-alice-blue);
}
.sidebar h1 {
  font-size: clamp(1rem, 10vw, 10rem);
  padding: 20px;
}
h1 {
  font-family: "action";
}

/* ==============  Sidebar  ========================*/
.sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-content {
  border-radius: 16px;
  box-shadow: inset 0px 0px 10px 10px var(--color-spring-bud);
  text-align: center;
}
/* ============== Main =============================*/
.main-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-container > p:first-of-type {
  align-self: flex-start;
}
.form-container {
  height: 40%;
  width: 100%;
  background: var(--color-kombu-green);
  border-radius: 16px;
  justify-content: space-between;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
button {
  padding: 10px;
  border-radius: 16px;
  border: none;
  background: var(--color-spring-bud);
  color: var(--color-rich-black);
  font-size: clamp(1rem, 2vw, 3rem);
}
span {
  color: var(--color-spring-bud);
}
