:root {
  --color-alice-blue: #f0f8ff;
  --color-opal: #9dbebb;
  --color-spring-bud: #9dff00;
  --color-kombu-green: #31493c;
  --color-rich-black: #001a23;
}
@font-face {
  font-family: carbon;
  src: url(./assets/carbontype-webfont.woff);
}
@font-face {
  font-family: action;
  src: url(./assets/Action_Man-webfont.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  height: 100vh;
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-alice-blue);
  background: var(--color-rich-black);
  display: flex;
  justify-content: space-evenly;
  line-height: 1;
  overflow: auto;
}

/* ================  FONTS  ======================= */
button,
.sidebar h1 {
  font-family: "carbon", sans-serif;
}
button {
  font-size: clamp(1rem, 1vw, 2rem);
  color: var(--color-rich-black);
}
.sidebar h1 {
  font-size: clamp(1rem, 8vw, 9rem);
  color: var(--color-alice-blue);
}
main,
input {
  font-family: "action";
  font-size: clamp(0.8rem, 1vw, 1.1rem);
}
.main-container h1 {
  font-size: clamp(0.8rem, 2vw, 4rem);
}
span {
  color: var(--color-spring-bud);
}
label {
  color: var(--color-rich-black);
}

/* ==============  Sidebar  ========================*/
.sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar h1 {
  padding: 20px;
}
.animated-border {
  position: relative;
}
.animated-border::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-spring-bud);
  animation: train 4s ease 2s infinite alternate;
}
/* img:hover {
  animation: beat 1s 1;
  transform-origin: center;
} */

/* ============== Main =============================*/
.main-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.main-container > p:first-of-type {
  align-self: flex-start;
}
.form-container {
  height: 40%;
  width: 100%;
  background: var(--color-kombu-green);
  border-radius: 16px;
  padding: 1vw;
}
button {
  padding: 1vw;
  border-radius: 16px;
  background: var(--color-spring-bud);
  border: 1px solid transparent;
}
button:hover {
  background: var(--color-rich-black);
  color: var(--color-spring-bud);
  border: 1px solid var(--color-spring-bud);
}

/* ==============  Form  ========================== */
form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.full-name,
.contact-details,
.passwords {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}
form div {
  position: relative;
}
label {
  position: absolute;
  top: 0px;
  left: 5px;
  opacity: 0.5;
}
input {
  width: 20vw;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 20px 20px 20px 50px;
  background: var(--color-alice-blue);
}
input:focus {
  background: var(--color-opal);
  outline-color: var(--color-spring-bud);
}
input:focus + label {
  top: -18px;
  opacity: 1;
  color: var(--color-alice-blue);
}
input:focus + label + p {
  visibility: visible;
}
input:valid:not(:focus):not(:placeholder-shown) {
  background: url(./assets/green-checkmark.svg) no-repeat;
  background-color: var(--color-alice-blue);
  background-size: 20px;
  background-position: 20px;
}
input:invalid:not(:focus):not(:placeholder-shown) {
  background: url(./assets/red-checkmark.svg) no-repeat;
  background-color: var(--color-opal);
  background-size: 20px;
  background-position: 20px;
  animation: vibration 0.1s 2;
}
form p {
  position: absolute;
  visibility: hidden;
}
/* ==============  Animation   =====================*/
/* @keyframes beat {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: scale(0.95) rotate(-1deg);
    opacity: 0.6;
  }
  35% {
    transform: scale(1.05) rotate(1deg);
    opacity: 6;
  }
  45% {
    transform: scale(0.97) rotate(-1deg);
    opacity: 0.6;
  }
  55% {
    transform: scale(1.03) rotate(1deg);
    opacity: 1;
  }
  65% {
    transform: scale(0.95) rotate(-1deg);
    opacity: 0.6;
  }
  75% {
    transform: scale(1.05) rotate(1deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
} */
@keyframes vibration {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-5px);
  }
  100% {
    transform: translate(5px);
  }
}
@keyframes train {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(0%);
  }
}
/* ============ Styling for mobile  ============== */

@media (max-width: 800px) {
  body {
    margin-top: 2rem;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  img {
    visibility: hidden;
  }
  .sidebar {
    width: 100%;
    height: 20vh;
    justify-content: flex-start;
  }
  .sidebar h1 {
    font-size: 5rem;
    padding: 0;
  }
  .main-container h1 {
    font-size: 1rem;
  }
  .main-container {
    height: 90vh;
    width: 90vw;
    justify-content: flex-start;
  }
  .main-container > p:first-of-type {
    margin-top: 2rem;
  }
  .form-container {
    margin-top: 0.5rem;
    height: max(40vh);
    padding: 5px 10px;
    width: 100%;
  }
  .form-container p {
    padding: 5px;
  }
  button,
  button + p {
    margin-top: 1rem;
    align-self: center;
  }
  .full-name,
  .contact-details,
  .passwords {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  form {
    font-size: 0.7rem;
    justify-content: space-evenly;
  }
  input {
    height: fit-content;
    width: 100%;
    padding: 8px 0px 0px 20px;
  }
  input:focus + label {
    top: -15px;
  }
  input:valid:not(:focus):not(:placeholder-shown) {
    background-size: 10px;
    background-position: 2px 10px;
  }
  input:invalid:not(:focus):not(:placeholder-shown) {
    background-size: 10px;
    background-position: 2px 10px;
  }
}
